*{
  font-family: monospace;
}

button{
  margin-bottom: 1rem;
  font-weight: bold;
}

div{
  margin-bottom: 1rem;
}

h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
}